@model PagedList.IPagedList<Student_Management_systems.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>User Registration</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>User Registration</h2>
                    <br />
                    <p>
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
                    </p>
                    <br />
                    @using (Html.BeginForm("Index", "User", FormMethod.Get))
                    {

                        <div class="form-group">
                            Search:&nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

                            <input type="submit" value="Search" />
                        </div>
                    }
                    <br />

                    <table class="table">
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Locked Out
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
                                    @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                                    {
                                        @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                                        new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                                    }
                                </td>
                            </tr>
                        }


                    </table>
                    <br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model,
                        page => Url.Action("Index",
                        new
                        {
                            page,
                            searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
                            currentFilter = ViewBag.CurrentFilter
                        }))
                </div>
            </div>
        </div>
    </div>
</div>