@model IEnumerable<Student_Management_systems.Models.TrainerModels>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Trainer</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Trainer</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2>Trainer Registration</h2>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TrainerIdNum)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TrainerFullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateofBirth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrainerIdNum)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrainerFullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateofBirth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.TrainerId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.TrainerId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.TrainerId })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

